<%- include('./partials/header'); -%>
<link rel="stylesheet" href="">
</head>

<body>

    <header>

        <!-- Jumbotron -->
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3"><%= err %></h1>
            <a class="btn btn-primary" href="<%= route %>" role="button"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i> Return</a>
        </div>
        <!-- Jumbotron -->
    </header>
    <%- include('./partials/footer'); -%>