@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.journal {
  text-align: center;
  font-family: "Zeyada", sans-serif;
  letter-spacing: 2px;
}
